	body {
  		background-color: #29A3CC;
  		font-family: Calibri;
		color: black;
	}

	a { 
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}
			
	.calculator {
		margin: auto;
		background-color: #2EB8E6;
		width: 80%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: solid #1f7a99 1px;
		max-width: 350px;
	}

	h1 {
		margin: 5%;
		height: 3%;
		font-size: 8vmin;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none
	}

	.text {
		width: 97%;
		border: solid #1f7a99 1px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		font-weight: 900;
		font-size: 2em;
		margin: 1%;
		padding-bottom: 5%;
		text-align: right;
	}

	.button-table {
		background-color: #33CCFF;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		margin: 2%;
		width: 96%;
		height: 96%;
	}

	.character-grid {
		display: none;
		overflow: hidden;
	}

	.character-grid:target {
		display: block;
	}

	.extra-characters {
		margin: -15px 0 0 0;
	}

	.normal-characters {
		margin: 0 0 -8px 0;
	}
			
	.characters > div > div {
		display: inline-block;
		width: 21%;
		padding: 2%;
	}

	.character-link {
		display: inline-block;
		text-align: center;
		width: 100%;
		font-size: 1.5em;
	}

	.normal-character-link {
		margin-bottom: -100px;
	}
		

	.extra-character-link {
		-moz-transform: scale(1, -1);
		-webkit-transform: scale(1, -1);
		transform: scale(1, -1);
		margin-top: -8px;
	}

	.press-button {
		width: 100%;
		height: 100%;
		padding: 20%;
		font-family: Calibri;
		font-size: 1em;
		cursor: pointer;
	}

	.submit-button {
		padding: 4%;
		margin: 2%;
		font-size: 3em;
		width: 35%;
		height: 20%;
		cursor: pointer;
	}
